* {
    box-sizing: border-box;
    font-family: 'Yusei Magic', sans-serif;
    padding: 10px
}

.jumbotron {
    text-align: center;
    background-color: lavender;
    border-radius: 0;
    border-bottom: 5px solid black;
    height: 200px;
    width: 100% auto;
    padding: 10px;
}


body {
   
    font-family: 'Yusei Magic', sans-serif;                   
    align-content: center;
}

label {
    font-size: 40px;
}

i {
    font-size: 20px;
}

h4,
h5 {
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.831);
}

.saved-city-button {
    background-color: rgba(43, 177, 179, 0.797);
    color: white;
    /* -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: white; */
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.831);
    margin: 3px;
    border-radius: 5px;
}

.search-content {
    padding: 10px;

}

.searchBtn {
    
    color: white;
    height: 40px;
    width: 20%;
    font-size: 20px;
}

 .searchHistoryContainer {
     display: none;
     justify-content: space-between;
 }

.container {
    /* display: flex;
    flex-wrap: wrap; */
    margin-left: 10px;
    padding: 10px;
    width: 100vh;
    height: 50vh;
}


.searchBox {
    font-size: 20px;
    height: 50px;
    width: 70px;
}


.row {
    font: 18px;
    height: 60%;
}

.col-3 {
    float: left;
    flex: wrap;
    width: 30%;
    padding: 10px;
    
}

.col-9 {
    width: 40%;
    float: right;
    flex: wrap;
    padding: 10px;
    margin: 10px;
}

.col-12 {
    padding: 10px;
    
}

#inputValue {
    width: 100px;
}

#searchBtn {
    background-color: rgba(43, 177, 179, 0.797);
    border-radius: 10px;
    width: 70px
}

.card-current {
    width: 40vh;
    justify-content: flex;
    right: 0;
    align-items: center;
    background-color: rgba(31, 187, 189, 0.927);
    color: white;
    /* text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.831); */
    border-radius: 15px;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.831);
    font-size: 30px;
}

#fiveDayContainers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
}

#fiveDayContainers >div {
    background-color: rgba(31, 187, 189, 0.927);
    color: white;
    /* padding: 10px; */
    border-radius: 15px;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.831);
}

.forecast-info {
    padding: 10px;
    margin: 10px;;
}

.row::after {
    content: "";
    clear: both;
    display: table;
  }

 /* MEDIA QUERY for responsive design */
  /* @media only screen and (max-width: 600px) {
    .input-field .prefix ~ input {
      width: 80%;
      width: calc(100% - 3rem);
    } */
  /* } */
  
  /* @media only screen and (max-width: 600px) {
    .input-field .prefix ~ input {
      width: 50%;
    }
  } */
  
  @media only screen and (max-width: 480px) {
    .row-container .card {
      width: 100px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .row-container .card {
      width: 400px;
    }
  }
  
  @media (min-width: 900px) {
    .cards { grid-template-columns: repeat(3, 1fr); }
  }