* {
    box-sizing: border-box;
}

.jumbotron {
    font-family: 'Major Mono Display', monospace;;
    text-align: center;
    background-color: lavender;
    border-radius: 0;
    border-bottom: 5px solid black;
    height: 200px;
    width: 100%;
    padding: 10px;
}


body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;                   
    align-content: center;
}

label {
    font-size: 40px;
}

i {
    font-size: 20px;
}


.searchBtn {
    /* border-left: 1px solid black; */
    /* border-top-right-radius: 15px; */
    /* border-bottom-right-radius: 15px; */
    background-color: rgba(223, 202, 223, 0.87);
    color: white;
    height: 40px;
    width: 20%;
    font-size: 20px;
}

.container {
    width: 100vh;
    height: 100vh;
}

.searchBox {
    font-size: 20px;
    width: 100px;
    height: 100px;
}


.row {
    font: 18px;
    height: 60%;
}

.col-3 {
    /* background-color: lightblue; */
    font-size: 18px;
    color: rgba(70, 67, 67, 0.925);
    padding: 10px;
    
}

.col-9 {
    /* background-color: lightblue; */
    font-size: 18px;
    color: rgba(70, 67, 67, 0.925);
}

.inputValue {
    width: 100px;
}

