* {
    box-sizing: border-box;
}

header {
    font-family: 'franklin Gothic Medium',;
    text-align: center;
    background-color: lavender;
    border-radius: 0;
    border-bottom: 5px solid black;
    height: 100%;
    width: 100%;
}


body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;                   
    align-content: center;
}

.btn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: rgba(223, 202, 223, 0.87);
    color: white;
}

.container {
    width: 100vh;
    height: 100vh;
}

.searchBox {
    font-size: 12px;
}
.row {
    font: 12;
}