* {
    box-sizing: border-box;
    font-family: 'Yusei Magic', sans-serif;
    padding: 10px
}

.jumbotron {
    text-align: center;
    background-color: lavender;
    border-bottom: 5px solid black;
    height: 200px;
    width: 100% auto;
    padding: 10px;
}


body {
   
    font-family: 'Yusei Magic', sans-serif;                   
    align-content: center;
    background: url("../assets/images/background.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

label {
    font-size: 40px;
}

i {
    font-size: 20px;
}

.col-3 {
    color: white;
    text-shadow: 4px 4px 4px rgb(19, 16, 16), -1px 1px 2px #000, 1px -1px 1px #000,
    -1px -1px 1px #000;
}

h4,
h5 {
    text-shadow: 4px 4px 4px rgb(19, 16, 16), -1px 1px 2px #000, 1px -1px 1px #000,
    -1px -1px 1px #000;
    font-weight: bold;
}

.saved-city-button {
    background-color: rgba(43, 177, 179, 0.797);
    color: white;
    /* -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: white; */
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.831);
    margin: 3px;
    border-radius: 5px;
}

.search-content {
    padding: 10px;

}

.searchBtn {
    
    color: white;
    height: 40px;
    width: 20%;
    font-size: 20px;
}

 .searchHistoryContainer {
     display: none;
     justify-content: space-between;
 }

.container {
    /* display: flex;
    flex-wrap: wrap; */
    margin-left: 10px;
    padding: 10px;
    width: 100vh;
    height: 50vh;
}

p {
    color: black;
}

.searchBox {
    font-size: 20px;
    height: 50px;
    width: 70px;
}


.row {
    font: 18px;
    height: 60%;
}

.col-3 {
    float: left;
    flex: wrap;
    width: 30%;
    padding: 10px;
    
}

.col-9 {
    width: 40%;
    float: right;
    flex: wrap;
    padding: 10px;
    margin: 10px;
}

.col-12 {
    padding: 10px;
    
}

#inputValue {
    width: 70%;
}

#searchBtn {
    background-color: rgba(43, 177, 179, 0.797);
    border-radius: 10px;
    width: 70px
}

.card-current {
    display: grid;
    grid: flex;
    flex-wrap: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
    min-width: 40vh;
    width: 100%;
    align-items: center;
    background-color: rgba(167, 211, 213, 0.927);
    color: rgb(244, 244, 244);
    border-radius: 5px;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.831);
    font-size: 30px;
}

#fiveDayContainers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
    min-width: 40vh;
}

#fiveDayContainers >div {
    background-color: rgba(167, 211, 213, 0.927);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.831);
}

.forecast-info {
    padding: 10px;
    margin: 10px;;
}

.row::after {
    content: "";
    clear: both;
    display: table;
  }


  /* Responsive Design  */
  @media screen and (max-width:900px) {
    #fiveDayContainers {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 1em;
      }
  }

  @media screen and (max-width:576px) {
    #fiveDayContainers {
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 1em;
      }
  }

  @media screen and (max-width:576px) {
    .card-current {
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 1em;
      }
  }